.container {
   display: flex;
  justify-content: center;
  /* flex-direction: column;  */
  gap: 2rem;
  /* text-align: center; */
  margin-top: 10rem;
  }

 .container input{
    border: none;
    color: #000;
    background: rgba(17, 17, 17, 0.188);
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 15px 40px 20px 20px;
    border-radius: 5px;
  }
  
  ::placeholder {
    color: #000;
  }
 
  .any {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .btn {
    width: 8rem;
    height: 2rem;
  }